@using ToDoList.Models
@model List<ToDoList.Models.ToDoModel>

@{
    ViewBag.Title = "Read";

}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 70%;
        }

        td, th {
            border: 1px solid #ddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #b6ff00;
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body>
    <table>

        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Is Done? </th>
                <th colspan="2">Action</th>
            </tr>

            @{

                foreach (var r in (IEnumerable<ToDoModel>)ViewData["ToDo"])
                {
            <tr>
                <td>@r.Id</td>
                <td>@r.Title</td>
                <td>
                    @if (r.IsDone == true)
                    {
                        <text>Yes</text>
                    }
                    else
                    {
                        <text>No</text>
                    }
                </td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = r.Id }) </td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = r.Id }) </td>
            </tr>

                }
                }
        </thead>
    </table>
</body>
</html>


@*@foreach (var r in Model)
    {
    <td> @r.Id </td>
    <td>@r.Title</td>
    <td>@r.IsDone</td>
    }
*@




